body {
	font-size: 14px;
	font-family: cabin;
	color: $fontColor;
}

h1 {
	font-size: 5em;
	font-family: bebasRegular;
	//color: $fontBlack;
	//padding: 5px 0;
	//line-height: 0.8em;
}

h2 {
	font-size: 2em;
	padding: 5px 0;
}

/* ICONS */

.large-icon {
	font-size: 2.5em;
	padding: 5px;
}

.small-icon {
	font-size: 1em;
	padding: 5px;
}

.arrow-icon {
	font-family: arrowIcons;
	padding: 5px;
}

/* IMAGES */

.circular {
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}


/* TEXT COLORS */
.lighter-blue {
	color: $lighterBlue;
}

.light-gray-text {
	color: $lightGray;
}

.white-text {
	color: #FFF;
}