body {
	font-size: 14px;
	font-family: bebasregular;
	color: $fontColor;
}

/* ICONS */

.large-icon {
	font-size: 2.5em;
}

/* IMAGES */

.circular {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}