.home-above-fold-container {
	position: relative;
	//background: green;
}

.svg-container {
	width: 4000px;
	position: absolute;
	left: 50%;
	margin-left: -2000px;
	top: 0;
}

.home-intro {

}

.home-above-fold-container {
	// background: $darkGray;
	// padding: 30px 0;
	
}

.home-above-fold-header-image {
	margin-bottom: 20px;
}

.home-above-fold-intro {
	margin-top: 16px;
}