.top-nav {
	background-color: #FFF;
	height: 4em;
	border-bottom: 2px solid $lightGray2;
	width: 100%;
}

.top-nav-list-button {
	padding: 3px 10px;
	height: 100%;
	border-right: 12px $lightBlue solid;
	background: $blue;
}

 .top-nav-page-links {
 	list-style: none;
 	margin-right: 70px;
 }

 .top-nav-page-links li {
 	margin-left: 1em;
 	padding: 13px 8px 0 8px;
 	font-size: 1.1em;
 	height: 54px;
 	font-family: bebasRegular
 }

 .top-nav-page-links li:first-child {
 	margin-left: 0;
 }

 .top-nav-logo {
 	padding: 5px 20px;
 }

 .small-top-nav-logo {
	margin: 0 auto;
 	display: block;
 	width: 145px;
 	padding-top: 5px;
 }

/* PROFILE */
 .top-nav-profile-container {
 	font-size: 1.2em;
 	background: $blue;
 	border-left: 12px solid $lightBlue;
 	height: 54px;
 }

 .profile-nav-user-name {
 	color: $lighterBlue;
 	padding: 18px 15px 0 0;
 }

 .top-nav-profile-avatar {
 	padding: 4px 10px 0;
 	float: right;
 }

.nav-pages {
	border-left: 8px solid;
	color: $gray;
	-webkit-transition: background-color 0.2s ease;
	-webkit-transition: border-color 0.3s linear;
	background: #FFF;
	border-color: #FFF;
}

.nav-pages:hover {
	color: $fontBlack;
}

 .nav-courses:hover {
 	border-color: $blue;
 	color: $fontBlack;
 	background: $lightBlue;
 }

 .nav-community:hover {
 	border-color: $purple;
 	color: $fontBlack;
 	background: $lightPurple;
 }

 .nav-earn-points:hover {
 	border-color: $green;
 	color: $fontBlack;
 	background: $lightGreen;
 }

 .nav-spend-points:hover {
 	border-color: $orange;
 	color: $fontBlack;
 	background: $lightOrange;
 }

 .nav-blog:hover {
 	border-color: $red;
 	color: $fontBlack;
 	background: $lightRed;
 }

.profile-avatar {
	-webkit-transition: border-color 0.2s ease;
	border: 3px solid;
	border-color: $lightBlue;
}

 .profile-avatar:hover {
 	border: 3px solid;
 	border-color: $lighterBlue;	
 }