.top-nav {
	background-color: #FFF;
	height: 3em;
	border-bottom: 2px solid $lightGray;
	overflow: visible;
}

.top-nav-list-button {
	padding: 3px 10px;
	height: 100%;
	border-right: 2px $darkGray solid;
}

 .top-nav-page-links {
 	list-style: none;
 	margin-right: 70px;
 }

 .top-nav-page-links li {
 	margin-left: 1em;
 	padding: 8px 8px 0 8px;
 	font-size: 1em;
 	height: 3em;
 }

 .top-nav-page-links li:first-child {
 	margin-left: 0;
 }

 .top-nav-logo {
 	padding: 5px 20px;
 }

/* PROFILE */
 .top-nav-profile-container {
 	padding: 0 20px 0 20px;
 	font-size: 1.2em;
 }

 .profile-nav-user-name {
 	color: $fontBlack;
 	padding: 10px 15px 0 0;
 	//background: $blue;
 }

 .top-nav-profile-avatar {
 	padding: 2px 15px 0 0;
 	float: right;
 }

.nav-pages {
	border-left: 8px solid;
	color: $gray;
	-webkit-transition: background-color 0.2s ease;
	-webkit-transition: border-color 0.3s linear;
	background: #FFF;
	border-color: #FFF;
}

.nav-pages:hover {
	//border-left: none;
	color: $fontBlack;
}

 .nav-courses:hover {
 	border-color: $blue;
 	color: $fontBlack;
 	background: $lightBlue;
 }

 .nav-community:hover {
 	border-color: $purple;
 	color: $fontBlack;
 	background: $lightPurple;
 }

 .nav-earn-points:hover {
 	border-color: $green;
 	color: $fontBlack;
 	background: $lightGreen;
 }

 .nav-spend-points:hover {
 	border-color: $orange;
 	color: $fontBlack;
 	background: $lightOrange;
 }

 .nav-blog:hover {
 	border-color: $red;
 	color: $fontBlack;
 	background: $lightRed;
 }

 // @-webkit-keyframes coursesBackgroundHover {
 // 	0% {  }
 // 	100% {}
 // }