/* COLORS */

$blue: #33B5E5;
$darkBlue: #0099CC;
$lightBlue: #8ad5f0;
$lighterBlue: #c5eaf8;

$purple: #AA66CC;
$darkPurple: #9933CC;
$lightPurple: #d6adeb;

$green: #99CC00;
$darkGreen: #669900;
$lightGreen: #c5e26d;

$orange: #FFBB33;
$darkOrange: #FF8800;
$lightOrange: #ffd980;

$red: #FF4444;
$darkRed: #CC0000;
$lightRed: #ff9494;

$fontBlack: #262626;
$black: #171717;

$gray: #6b6b6b;
$darkGray: #323232;
$lightGray: #d2d2d2;
$lighterGray: #f5f5f5;

$fontColor: #222222;