	 	#tape-left {
	 		-webkit-transform-origin: center center;
	 		        transform-origin: center center;
	 		-webkit-animation: rotateFilm 3s infinite linear;
	 		        animation: rotateFilm 3s infinite linear;
	 	}

	 	#tape-right {
	 		-webkit-transform-origin: center center;
	 		        transform-origin: center center;
	 		-webkit-animation: rotateFilm 3s infinite linear;
	 		        animation: rotateFilm 3s infinite linear;	
	 	}

	 	#green-lights {
	 		-webkit-animation: blinkLights 10s linear infinite;
	 		        animation: blinkLights 10s linear infinite; 
	 		opacity: 0;
	 	}

	 	#red-lights {
	 		-webkit-animation: blinkLights 10s linear infinite 2s;
	 		        animation: blinkLights 10s linear infinite 2s;
	 		opacity: 0;
	 	}

	 	#blue-lights {
	 		-webkit-animation: blinkLights 10s linear infinite 4s;
	 		        animation: blinkLights 10s linear infinite 4s;
	 		opacity: 0;
	 	}

	 	#yellow-lights {
	 		-webkit-animation: blinkLights 10s linear infinite 6s;
	 		        animation: blinkLights 10s linear infinite 6s;
	 		opacity: 0;
	 	}

	 	#purple-lights {
	 		-webkit-animation: blinkLights 10s linear infinite 8s;
	 		        animation: blinkLights 10s linear infinite 8s;
	 		opacity: 0;
	 	}

	 	#scientist1Head {
	 		-webkit-transform-origin: center center;
	 		        transform-origin: center center;
	 		-webkit-animation: moveScientist1Head 13s infinite linear 10s;
	 		        animation: moveScientist1Head 13s infinite linear 10s;
	 	}

	 	#scientist3 {
		 	-webkit-transform-origin: center center;
		 	        transform-origin: center center;
		 	-webkit-animation: scientist3Turns 17s infinite linear;
		 	        animation: scientist3Turns 17s infinite linear;
	 	}

	 	#scientist3Container {
		 	-webkit-transform-origin: center center;
		 	        transform-origin: center center;
		 	-webkit-animation: scientist3Move 17s infinite linear;
		 	        animation: scientist3Move 17s infinite linear;
	 	}

	 	#scientist4 {
		 	-webkit-transform-origin: center center;
		 	        transform-origin: center center;
		 	-webkit-animation: scientist4Turns 13s infinite linear 10s;
		 	        animation: scientist4Turns 13s infinite linear 10s;
	 	}

	 	#scientist4Container {
		 	-webkit-transform-origin: center center;
		 	        transform-origin: center center;
		 	-webkit-animation: scientist4Move 13s infinite linear 10s;
		 	        animation: scientist4Move 13s infinite linear 10s;
	 	}

	 	/* ************** */
	 	/* * ANIMATIONS * */
	 	/* ************** */

	 	@-webkit-keyframes rotateFilm {
	 		0% { -webkit-transform: rotate( 0deg ); transform: rotate( 0deg ); }
	 		100% { -webkit-transform: rotate( 180deg ); transform: rotate( 180deg ); }
	 	}

	 	@keyframes rotateFilm {
	 		0% { -webkit-transform: rotate( 0deg ); transform: rotate( 0deg ); }
	 		100% { -webkit-transform: rotate( 180deg ); transform: rotate( 180deg ); }
	 	}

	 	@-webkit-keyframes blinkLights {
	 		0% { opacity: 0; }
	 		1% { opacity: 1; }
	 		19% { opacity: 1; }
	 		20% { opacity: 0; }
	 		100% { opacity: 0; }
	 	}

	 	@keyframes blinkLights {
	 		0% { opacity: 0; }
	 		1% { opacity: 1; }
	 		19% { opacity: 1; }
	 		20% { opacity: 0; }
	 		100% { opacity: 0; }
	 	}

	 	@-webkit-keyframes moveScientist1Head {
	 		0% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		2% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		4% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		6% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		8% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		10% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		12% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		14% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		16% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		18% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		20% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		22% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		24% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		26% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		28% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		30% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		32% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		100% {  }
	 	}

	 	@keyframes moveScientist1Head {
	 		0% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		2% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		4% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		6% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		8% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		10% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		12% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		14% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		16% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		18% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		20% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		22% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		24% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		26% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		28% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		30% { -webkit-transform: translateY( 5px ); transform: translateY( 5px ); }
	 		32% { -webkit-transform: translateY( 0px ); transform: translateY( 0px ); }
	 		100% {  }
	 	}

	 	@-webkit-keyframes scientist3Turns {
	 		0% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		14% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		15% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		70% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		71% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		100% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 	}

	 	@keyframes scientist3Turns {
	 		0% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		14% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		15% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		70% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		71% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		100% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 	}

	 	@-webkit-keyframes scientist3Move {
	 		0% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		14% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		15% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		40% { -webkit-transform: translateX( 240px ) translateY( 80px ); transform: translateX( 240px ) translateY( 80px ); }
	 		55% { -webkit-transform: translateX( 400px ) translateY( 0px ); transform: translateX( 400px ) translateY( 0px ); }
	 		70% { -webkit-transform: translateX( 400px ) translateY( 0px ); transform: translateX( 400px ) translateY( 0px ); }
	 		71% { -webkit-transform: translateX( 400px ) translateY( 0px ); transform: translateX( 400px ) translateY( 0px ); }
	 		85% { -webkit-transform: translateX( 240px ) translateY( 80px ); transform: translateX( 240px ) translateY( 80px ); }
	 		100% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 	}

	 	@keyframes scientist3Move {
	 		0% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		14% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		15% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		40% { -webkit-transform: translateX( 240px ) translateY( 80px ); transform: translateX( 240px ) translateY( 80px ); }
	 		55% { -webkit-transform: translateX( 400px ) translateY( 0px ); transform: translateX( 400px ) translateY( 0px ); }
	 		70% { -webkit-transform: translateX( 400px ) translateY( 0px ); transform: translateX( 400px ) translateY( 0px ); }
	 		71% { -webkit-transform: translateX( 400px ) translateY( 0px ); transform: translateX( 400px ) translateY( 0px ); }
	 		85% { -webkit-transform: translateX( 240px ) translateY( 80px ); transform: translateX( 240px ) translateY( 80px ); }
	 		100% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 	}

	 	@-webkit-keyframes scientist4Turns {
	 		0% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		50% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		51% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		70% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		71% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		100% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 	}

	 	@keyframes scientist4Turns {
	 		0% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		50% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		51% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		70% { -webkit-transform: scaleX( -1 ); transform: scaleX( -1 ); }
	 		71% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 		100% { -webkit-transform: scaleX( 1 ); transform: scaleX( 1 ); }
	 	}

	 	@-webkit-keyframes scientist4Move {
	 		0% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		30% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		50% { -webkit-transform: translateX( 33px ) translateY( 150px ); transform: translateX( 33px ) translateY( 150px ); }
	 		60% { -webkit-transform: translateX( 125px ) translateY( 150px ); transform: translateX( 125px ) translateY( 150px ); }
	 		70% { -webkit-transform: translateX( 125px ) translateY( 150px ); transform: translateX( 125px ) translateY( 150px ); }
	 		80% { -webkit-transform: translateX( 33px ) translateY( 150px ); transform: translateX( 33px ) translateY( 150px ); }
	 		100% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 	}

	 	@keyframes scientist4Move {
	 		0% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		30% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 		50% { -webkit-transform: translateX( 33px ) translateY( 150px ); transform: translateX( 33px ) translateY( 150px ); }
	 		60% { -webkit-transform: translateX( 125px ) translateY( 150px ); transform: translateX( 125px ) translateY( 150px ); }
	 		70% { -webkit-transform: translateX( 125px ) translateY( 150px ); transform: translateX( 125px ) translateY( 150px ); }
	 		80% { -webkit-transform: translateX( 33px ) translateY( 150px ); transform: translateX( 33px ) translateY( 150px ); }
	 		100% { -webkit-transform: translateX( 0px ) translateY( 0px ); transform: translateX( 0px ) translateY( 0px ); }
	 	}